<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="~/css/main.css">
    <title>{{ if show_popular }}Популярные публикации{{ else }}Новые публикации{{ end }}</title>
</head>

<body class="body">
    <div class="container">
        *HEADER*
        <div class="categories">
            <a {{ if !show_popular }}href="/popular"{{ end }} class="{{ if show_popular }}selected-link{{ else }}link{{ end }}">Популярные публикации</a>
            |
            <a {{ if show_popular }}href="/new"{{ end }} class="{{ if !show_popular }}selected-link{{ else }}link{{ end }}">Новые публикации</a>
            {{ if is_authorized }}
            |
            <a href="/publication" class="link">Создать публикацию</a>
            {{ end }}
        </div>
        <div class="publications">
            {{ for publication in publications }}
            <div class="publication publication-clickable publication-header" onclick="location.href='/publication/{{publication.id}}'">
                <img class="publication-image"
                    src="{{publication.musician.image}}">
                <div class="publication-info">
                    <div class="publication-title">{{publication.musician.name}} - {{publication.title}}</div>
                    <a href="/profile/{{publication.author.id}}" class="publication-author link">{{publication.author.name}}</a>
                </div>
                <div class="publication-ratings">
                    <div class="publication-rating">
                        <span>{{publication.rating}}</span>
                        <img src="~/img/star.png">
                    </div>
                    <div class="publication-comments">
                        <span>{{publication.comments.size}}</span>
                        <img src="~/img/comment.png">
                    </div>
                </div>
            </div>
            {{ end }}
        </div>

</body>

</html>