.container {
    display: flex;
    margin: 57px auto;
    padding: 75px 0 35px;
    width: 636px;
}

.home img {
    width: 60px;
    cursor: pointer;
}

.home img:hover {
    opacity: 0.8;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
}

@media screen and (min-width: 637px) {
    .home {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .container {
        justify-content: center;
    }
}

@media screen and (max-width: 636px) {
    .body {
        background-color: var(--primary-light-color);
    }

    .container {
        flex-direction: column;
        align-items: center;
        border-width: 0px;
        margin-right: 0;
    }
}

.remember-me {
    display: flex;
    align-items: center;
}

.checkbox-hided:hover~.checkbox {
    background: var(--primary-light-color);
}

.checkbox-hided {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    width: 14px;
    height: 14px;
}

.js-hint {
    display: none;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: var(--secondary-color);
    border: 1.61px solid var(--primary-color);
    border-radius: 8px;
}

.checkbox-hided:checked~.checkbox {
    background: var(--primary-color);
}

.remember-me-text {
    margin-left: 3px;
    font-size: 19px;
    cursor: pointer;
}

.bottom-hint {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.link {
    font-family: 'Nunito-Bold';
}