.container {
    margin: 112px auto 20px;
    padding: 0 42px 42px;
}

.categories {
    font-size: 19px;
    margin: 28px 13px;
}

.selected-link {
    font-family: 'Nunito-Bold';
}

.publications {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-publications-text {
    text-align: center;
}

.publication-image {
    width: 80px;
    height: 80px;
}

.publication-comments {
    font-size: 15px;
    align-self: flex-end;
}

.publication-comments img {
    width: 21px;
    margin-right: 11px;
}

@media screen and (max-width: 590px) {
    .publication-ratings {
        scale: 0.5;
    }

    .publication-image {
        margin-right: 10px;
    }

    .publication {
        padding: 0px;
    }

    .categories,
    .publication-title,
    .header-right {
        font-size: 9px;
    }

    .profile-image {
        width: 38px;
    }

    .publication-author {
        font-size: 7px;
    }
}