.publication-image {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.user-image {
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.container {
    padding-top: 42px;
}

.login-link {
    cursor: default;
}

.publication-author {
    width: 100%;
}

#div-password-confirm {
    display: none;
}

.js-hint {
    display: none;
}