.container {
    margin: 112px auto 20px;
    padding: 42px;
}

.publication-image {
    object-fit: cover;
    width: 160px;
    height: 160px;
}

.musician {
    color: var(--text-color);
    font-family: 'Nunito-ExtraBold';
}

.div-title {
    font-size: 19px;
    padding: 40px 0 0;
}

.rate {
    display: flex;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textarea {
    overflow: hidden;
    resize: none;
}

.button {
    margin-left: 10px;
    width: 110px;
    height: 40px;
    padding: 6px 17px;
    font-size: 15px;
}

.button-auto-size {
    width: auto;
}

.button-small {
    font-size: 12px;
}

.div-flex {
    display: flex;
}

.comment-author-image {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 38px;
    margin: 10px;
}

.comment-body {
    font-size: 12px;
}

.new-rating form input {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 800px) {
    .publication-header, .rate {
        flex-direction: column;
        align-items: center;
    }

    .rate {
        scale: 0.8;
    }

    .profile-image {
        object-fit: cover;
        width: 38px;
        height: 38px;
    }

    .publication-image {
        object-fit: cover;
        width: 80px;
        height: 80px;
    }

    .publication-ratings {
        display: none;
    }

    .div-title, .publication-title {
        font-size: 2.3vw;
    }

    .chords, .publication-author, .comment-body {
        font-size: 2vw;
    }

    .header-right {
        font-size: 2vw;
    }

    .publication-info {
        font-size: 1vw;
    }
}